body {
    position: relative;
}
.content {
    @include content;
}
header,
footer {
    position: fixed;
    background-color: #000;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1500;
}
header {
    height: 70px;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}
.logo {
    position: relative;
    top: 20px;
}
.menu {
    position: relative;
    bottom: 10px;
    float: right;
}
.menu-links {
    font-size: 12px;
    li {
        display: inline;
        margin-left: 20px;
    }
}
footer {
    height: 80px;
    bottom: 0;
    height: 60px;
}
.main {
    position: relative;
    background-color: teal;
}
.delta-pages {
    position: relative;
    list-style: none;
    -webkit-transition: background-position 1.4s ease-in-out 0.3s;
    -moz-transition: background-position 1.4s ease-in-out 0.3s;
    -o-transition: background-position 1.4s ease-in-out 0.3s;
    -ms-transition: background-position 1.4s ease-in-out 0.3s;
    transition: background-position 1.4s ease-in-out 0.3s;
}
.delta-img {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }
}
.delta-page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
}
.delta-content {
    position: relative;
    max-width: 100%;
    width: 60em;
    max-height: 400px;
    margin-top: 250px;
    padding: 1.25em;
    background-color: #000;
    color: white;
    z-index: 5000;
}
.delta-page-current {
    z-index: 1000;
}
.delta-pages-fb .delta-page {
    left: 100%;
}
.page-navigation {
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -50px;
    margin-left: 0;
    z-index: 2000;
    width: 100%;
    a {
        position: absolute;
        display: block;
        text-indent: -9999px;
        width: 0;
        height: 0;
    }
    .prev {
        left: 10px;
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent;
        border-right: 35px solid red;
    }
    .next {
        right: 10px;
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent;
        border-left: 35px solid red;
    }
}