body {
    position: relative;
}
.content {
    @include content;
}
header,
footer {
    position: fixed;
    background-color: #000;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1500;
}
header {
    height: 70px;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}
footer {
    height: 80px;
    bottom: 0;
    height: 60px;
}
.main {
    position: relative;
    background-color: teal;
}
.delta-pages {
    position: relative;
    list-style: none;
    width: 100%;
    min-width: 520px;
    height: 80%;
    margin: 30px auto;
    padding: 0;
    -webkit-transition: background-position 1.4s ease-in-out 0.3s;
    -moz-transition: background-position 1.4s ease-in-out 0.3s;
    -o-transition: background-position 1.4s ease-in-out 0.3s;
    -ms-transition: background-position 1.4s ease-in-out 0.3s;
    transition: background-position 1.4s ease-in-out 0.3s;
}
.delta-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block
}
.delta-page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
}
.delta-page-current {
    z-index: 1000;
}